mixin button(text)
  mj-button(
    background-color='transparent'
    border-radius='0'
    border='3px solid ' + whiteColor
    color=whiteColor
    font-family='Open Sans, sans-serif'
    font-size='12px'
    font-weight='700'
    href='#x'
    inner-padding='7px 20px'
    padding='0'
    text-transform='uppercase')&attributes(attributes)!= text || 'Click here'
