mixin card(list)
  each item in list
    mj-column(
      css-class='card-column'
      background-color='pink')

      mj-image(
        css-class='card-image ' + item.imageClass
        width=item.img[1]
        src=pathToImage + item.img[0])

      mj-text(
        mj-class=item.titleClass
        align='center')

        p.card-feature__title!= item.title

      mj-text(
        mj-class=item.descClass
        align='center'
        color=darkText
        line-height='1.7'
        padding-bottom='22px')

        p.card-feature__desc!= item.desc
