mixin card(list)
  each item in list
    mj-column(
      css-class='card ' + item.cardClass)

      mj-image(
        container-background-color=whiteColor
        css-class='card__image'
        src=pathToImage + item.img[0]
        width=item.img[1])

      mj-text(
        css-class='card__title'
        align='center')

        p.card__title-text!= item.title

      mj-text(
        align='center'
        color=darkText
        css-class='card__desc'
        line-height='1.7')

        p.card__desc-text!= item.desc
