include social.pug
include subtitle-dual.pug

mixin footer()
  mj-section(mj-class='footer-section', padding-bottom='30px')
    +subtitle-dual({
      type: 'light',
      first: 'Work with us',
      second: 'Get in Touch'
        })
  mj-section(
    mj-class='footer-section'
    padding-left='20px'
    padding-right='20px')
    mj-column(width='450px')
      mj-text(
        mj-class='text'
        align='center'
        color=whiteColor
        padding-bottom='30px') And the ominous words with which he&nbsp;had parted from&nbsp;me. What was this nocturnal expedition, and why should

  mj-section(mj-class='footer-section')
    mj-column
      +social(['facebook', 'twitter', 'google-plus', 'instagram'])

  +spacer('25px', darkBg)
    
  mj-section(
    mj-class='footer-section'
    padding-left='20px'
    padding-right='20px')
    mj-column
      mj-text(mj-class='footer-text') Address : Door No. 129, unde omnis iste, New York, USA
      mj-text(mj-class='footer-text') Phone : +(000) 123 4567, (123) 456 7890
      mj-text(mj-class='footer-text') Email : free@psdfreebies.com, www.psdfreebies.com
      
  mj-section(
    mj-class='footer-section'
    padding-top='35px'
    padding-bottom='25px'
    padding-left='30px'
    padding-right='30px')
    mj-column
      mj-divider(border-color=mainColor)
  mj-section(mj-class='footer-section', padding-bottom='25px')
    mj-column
      mj-text(mj-class='footer-text')
        | Copyright 2018 PSDfreebies.com - All Rights Reserved  |  
        a(href="#x") unsubscribe
