include social.pug
include subtitle-dual.pug

mixin footer()
  mj-section(background-color=darkBg, padding-bottom='30px')
    +subtitle-dual({
      type: 'light',
      first: 'Work with us',
      second: 'Get in Touch'
        })
  mj-section(
    padding-left='20px'
    padding-right='20px'
    background-color=darkBg)
    mj-column(width='450px')
      mj-text(
        mj-class='text'
        align='center'
        color=whiteColor
        padding-bottom='30px') Lorem ipsum dolor sit amet, consectetuer a iscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet
    //- social
    mj-section
      mj-column
        +social()
      
    mj-spacer(height='25px')
      
    mj-section(
      padding-left='20px'
      padding-right='20px')
      mj-column
        mj-text(mj-class='footer-text') Address : Door No. 129, unde omnis iste, New York, USA
        mj-text(mj-class='footer-text') Phone : +(000) 123 4567, (123) 456 7890
        mj-text(mj-class='footer-text') Email : free@psdfreebies.com, www.psdfreebies.com
    mj-section(
      padding-top='35px'
      padding-bottom='25px'
      padding-left='30px'
      padding-right='30px')
      mj-divider(border-color=mainColor)
    mj-section(padding-bottom='25px')
      mj-column
        mj-text(mj-class='footer-text')
          | Copyright 2018 PSDfreebies.com - All Rights Reserved  |  
          a(href="#x") unsubscribe 
      
