include logo.pug
include phone.pug

mixin hero()
  mj-section(
    background-repeat='no-repeat'
    background-size='cover'
    background-url=pathToImage + 'hero.jpg'
    padding-left='25px'
    padding-right='25px'
    padding-top='25px')
    mj-group(
      width='100%'
      vertical-align='middle')
      mj-column(vertical-align='middle')
        +logo()
      mj-column(vertical-align='middle')
        +phone([
          ['+ (000) 123 4567'],
          ['+ (123) 456 7890']
          ])
    mj-column(width='100%')
      mj-text(
        mj-class='main-title main-title--small'
        line-height='60%'
        padding-top='44px') We are an
      mj-text(
        css-class='main-title'
        mj-class='main-title'
        color=mainColor
        font-size='50px'
        line-height='100%') Creative
      mj-text(
        mj-class='main-title main-title--small'
        line-height='80%') Digital Agency
    mj-column(width='60%')
      mj-text(
        align='center'
        color=whiteColor
        font-size='15px'
        line-height='150%'
        padding-top='12px') Our visitor bore every mark of&nbsp;being an&nbsp;average commonplace British tradesman, obese, pompous, and slow
      +button()&attributes({
        'padding-top': '27px',
        'padding-bottom': '58px'
        })
