mj-class(
  name='inner-padding'
  padding-left='44px'
  padding-right='44px')/
mj-class(
  name='main-title'
  align='center'
  font-weight='800'
  text-transform='uppercase')/
mj-class(
  name='main-title--small'
  color=whiteColor
  font-size='30px')/
mj-class(
  name='text'
  line-height='1.6'
  font-size='15px')/
mj-class(
  name='half-section-text'
  color=whiteColor
  padding-right='54px'
  padding-left='54px')/

//- card
mj-class(
  name='card-column'
  background-color='#fff')
mj-class(
  name='card-column--feature'
  width='220px')/ // удали меня
mj-class(
  name='card-title'
  color=mainColor
  font-size='18px'
  padding-left='12px'
  padding-right='12px'
  font-weight='700')/
mj-class(
  name='card-title--service'
  color=darkText
  font-size='20px'
  font-weight='600')/
mj-class(
  name='card-desc'
  font-size='14px'
  padding-left='12px'
  padding-right='12px')/
mj-class(
  name='card-desc--service'
  font-size='15px')/
