mj-class(
  name='inner-padding'
  padding-left='44px'
  padding-right='44px')/
mj-class(
  name='main-title'
  align='center'
  font-weight='800'
  text-transform='uppercase')/
mj-class(
  name='main-title--small'
  color=whiteColor
  font-size='30px')/
mj-class(
  name='text'
  line-height='1.6'
  font-size='15px')/
mj-class(
  name='half-section-padding'
  padding-right='54px'
  padding-left='54px')/
mj-class(
  name='section-service'
  padding-left='33px'
  padding-right='33px')/
