mj-class(
  name='inner-padding'
  padding-left='44px'
  padding-right='44px')
mj-class(
  name='main-title'
  align='center'
  font-weight='800'
  text-transform='uppercase')
mj-class(
  name='main-title--small'
  color=whiteColor
  font-size='30px')
mj-class(
  name='text'
  line-height='160%'
  font-size='15px')
mj-class(
  name='half-section-padding'
  padding-right='54px'
  padding-left='54px')
mj-class(
  name='section-service'
  padding-left='30px'
  padding-right='30px')
mj-class(
  name='section-price'
  padding-left='60px'
  padding-right='60px')
mj-class(
  name='section-clients'
  padding-left='20px'
  padding-right='20px'
  background-color=whiteColor)
mj-class(
  name='price'
  align='center')
mj-class(
  name='footer-text'
  align='center'
  color=whiteColor
  font-size='13px'
  line-height='20px')
mj-class(
  name='footer-section'
  background-color=darkBg)
