mj-class(
  name='inner-padding'
  padding-left='44px'
  padding-right='44px')/
mj-class(
  name='main-title'
  align='center'
  font-weight='800'
  text-transform='uppercase')/
mj-class(
  name='main-title--small'
  color=whiteColor
  font-size='30px')/
mj-class(
  name='text'
  line-height='1.6'
  font-size='15px')/
mj-class(
  name='half-section-text'
  color=whiteColor
  padding-right='54px'
  padding-left='54px')/

//- card
mj-class(
  name='card'
  background-color='#fff')
mj-class(
  name='card__title'
  color=mainColor
  font-size='18px'
  font-weight='700')/
//- mj-class(
//-   name='card__title'
//-   color=darkText
//-   font-size='20px'
//-   font-weight='600')/
//- mj-class(
//-   name='card__desc'
//-   font-size='14px')/
//- mj-class(
//-   name='card-desc--service'
//-   font-size='15px')/
