mixin phone(nums)
  mj-text(
    align='right'
    color=whiteColor
    font-size='14px')
    img(
      align='right'
      alt=''
      height='auto'
      src='assets/images/icon-phone.png'
      style='padding-left: 10px; padding-top: 4px;'
      width='17')
    each n in nums
      p.phone!= n
