mixin review(list)
  - const blck = 'review'
  
  mj-group(width='85%')
    mj-column(width='12%' vertical-align='top')
      mj-image(
        width='35px'
        height='24px'
        alt=''
        src=pathToImage + 'quotes_start.png')
    mj-column(width='76%' vertical-align='middle')
      mj-text(align='center')
        p(class=blck + '__text') Kensington I&nbsp;thought over it&nbsp;all, from the extraordinary story of&nbsp;the red-headed copier of&nbsp;the Encyclopaedia down to&nbsp;the visit to&nbsp;Saxe-Coburg Square

    mj-column(width='12%' vertical-align='bottom')
      mj-image(
        width='35px'
        height='24px'
        alt=''
        src=pathToImage + 'quotes_end.png')
        
  
  mj-column(width='100%')
    mj-spacer(height='20px')

  mj-column(width='100%')
    mj-image(
      width='63px'
      height='63px'
      alt='Jonathan Ive'
      src=pathToImage + 'testimonial-avatar1.png')
      
    mj-spacer(height='8px')
      
    mj-text(align='center')
      p(class=blck + '__name') Jonathan Ive
      
    mj-text(align='center')
      p(class=blck + '__position') Designer
