mixin social()
  mj-social(
    base-url=pathToIconSocial
    display='facebook twitter google instagram'
    facebook-icon-color=whiteColor
    google-icon-color=whiteColor
    icon-size='37px'
    inner-padding='5px'
    instagram-icon-color=whiteColor
    line-height='37px'
    padding='0'
    text-mode='false'
    twitter-icon-color=whiteColor)/
