include blocks/variables.pug
include blocks/hero.pug
include blocks/button.pug
include blocks/subtitle-dual.pug
include blocks/social.pug

mjml
  include blocks/head.pug
  mj-body
    mj-container(width='800px', background-color=bodyBg)
      +hero()
      //- what we do
      mj-section(
        mj-class='inner-padding'
        padding-top='33px'
        padding-bottom='45px'
        background-color=mainColor)
        mj-column(width='55%')
          mj-text(
            padding-bottom='4px'
            color=whiteColor
            font-size='30px'
            font-weight='700') What we do?
          mj-text(
            mj-class='text'
            padding-bottom='20px'
            color=whiteColor) Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet 
          +button()&attributes({'align': 'left'})
        mj-column(width='45%')
          mj-image(
            align='right'
            alt='what we do'
            padding-top='20px'
            src=pathToImage + 'section1.png'
            width='157px')
      //- features
      mj-section
        +subtitle-dual({
          type: false,
          first: 'Take a look to our main services',
          second: 'Awesome  Services'
            })
      //- social
      mj-section
        mj-column
          +social()
