include blocks/variables.pug
include blocks/hero.pug
include blocks/button.pug
include blocks/subtitle-dual.pug
include blocks/card.pug
include blocks/price.pug
include blocks/social.pug
include blocks/underline.pug

mjml
  include blocks/head.pug
  mj-body
    mj-container(width='800px')
      +hero()
      //- what we do
      mj-section(
        mj-class='inner-padding'
        padding-top='33px'
        padding-bottom='45px'
        background-color=mainColor)
        mj-column(width='55%')
          mj-text(
            padding-bottom='4px'
            color=whiteColor
            font-size='30px'
            font-weight='700') What we do?
          mj-text(
            mj-class='text'
            padding-bottom='20px'
            color=whiteColor) Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet 
          +button()&attributes({'align': 'left'})
        mj-column(width='45%')
          mj-image(
            css-class='section-image'
            align='right'
            alt='what we do'
            padding-top='20px'
            src=pathToImage + 'section1.png'
            width='157px')
      //- features
      mj-section(
        padding-bottom='50px'
        background-color=bodyBg)
        +subtitle-dual({
          type: false,
          first: 'Take a look to our main services',
          second: 'Awesome  Services'
            })
      mj-section(
        mj-class='inner-padding'
        background-color=bodyBg)
        +card([
          {
            cardClass: 'card--feature',
            img: ['service1.png', 220],
            title: 'Web Development',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          },
          {
            cardClass: 'card--feature',
            img: ['service2.png', 220],
            title: 'Graphic Design',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          },
          {
            cardClass: 'card--feature',
            img: ['service3.png', 220],
            title: 'Data Analytics',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          }
        ])
      mj-section(
        background-color=bodyBg
        mj-class='inner-padding')
        mj-column
          mj-text(
            mj-class='text'
            align='center'
            padding-bottom='32px'
            padding-top='3px') Lorem ipsum dolor sit amet, consectetuer a iscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      //- work style
      mj-section(background-color=mainColor)
        mj-column(vertical-align='middle')
          mj-image(src=pathToImage + 'work1.jpg')
        mj-column(vertical-align='top')
          mj-text(
            mj-class='half-section-padding'
            color=whiteColor
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Simple and Clean
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-padding'
            color=whiteColor) Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          mj-text(
            mj-class='half-section-padding'
            color=whiteColor
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Great Support
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-padding'
            color=whiteColor
            padding-bottom='26px') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          
      mj-section(background-color=mainColor)
        mj-column(vertical-align='middle')
          mj-text(
            mj-class='half-section-padding'
            color=whiteColor
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Simple and Clean
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-padding'
            color=whiteColor) Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          mj-text(
            mj-class='half-section-padding'
            color=whiteColor
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Great Support
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-padding'
            color=whiteColor
            padding-bottom='25px') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        mj-column
          mj-image(src=pathToImage + 'work2.jpg')
            
      //- services
      mj-section(padding-bottom='50px', background-color=bodyBg)
        +subtitle-dual({
          type: false,
          first: 'Take a look to our main services',
          second: 'Awesome  Services2'
            })
      mj-section(
        mj-class='section-service'
        background-color=bodyBg)
        +card([
          {
            cardClass: 'card--service',
            img: ['icon-services1.png', 64],
            title: 'Web Design',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          },
          {
            cardClass: 'card--service',
            img: ['icon-services2.png', 64],
            title: 'Graphic Design',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          },
          {
            cardClass: 'card--service',
            img: ['icon-services3.png', 64],
            title: 'SEO',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          }
        ])
      mj-section(
        mj-class='section-service'
        background-color=bodyBg)
        +card([
          {
            cardClass: 'card--service',
            img: ['icon-services4.png', 64],
            title: 'Social Media',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          },
          {
            cardClass: 'card--service',
            img: ['icon-services5.png', 64],
            title: 'Blog',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          },
          {
            cardClass: 'card--service',
            img: ['icon-services6.png', 64],
            title: 'Creative',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh'
          }
        ])
      //- work
      mj-section(background-color=mainColor)
        mj-column
          mj-image(src=pathToImage + 'work3.jpg')
        mj-column
          mj-text(
            mj-class='half-section-padding'
            padding-top='40px'
            padding-bottom='10px'
            color=whiteColor
            font-size='30px'
            font-weight='600') Graphic Design
          mj-text(
            mj-class='text half-section-padding'
            padding-bottom='45px'
            color=whiteColor) Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          +button()&attributes({'align': 'left', 'mj-class': 'half-section-padding', 'padding-bottom': '50px'
            })
            
      mj-section(
        padding-bottom='20px'
        background-color=bodyBg)
        +subtitle-dual({
          type: false,
          first: 'Here is our awesome Price',
          second: 'Awesome Price'
            })
      mj-section(background-color=bodyBg)
        mj-column(width='450px')
          mj-text(
            mj-class='text'
            align='center'
            padding-bottom='48px') Lorem ipsum dolor sit amet, consectetuer a iscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet
      mj-section(
        mj-class='section-price'
        background-color=bodyBg)
        +price([
          {
            title: 'Regular',
            subtitle: 'awesome portfolio',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            number: '30'
          },
          {
            title: 'Weekly',
            subtitle: 'awesome portfolio',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            number: '60'
          }
        ])
      mj-section(
        mj-class='section-price'
        background-color=bodyBg)
        +price([
          {
            title: 'Monthly',
            subtitle: 'awesome portfolio',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            number: '80'
          },
          {
            title: 'Yearly',
            subtitle: 'awesome portfolio',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            number: '100'
          }
        ])
      //- social
      mj-section
        mj-column
          +social()
