include blocks/variables.pug
include blocks/hero.pug
include blocks/button.pug
include blocks/subtitle-dual.pug
include blocks/card.pug
include blocks/social.pug
include blocks/underline.pug

mjml
  include blocks/head.pug
  mj-body
    mj-container(width='800px')
      +hero()
      //- what we do
      mj-section(
        mj-class='inner-padding'
        padding-top='33px'
        padding-bottom='45px'
        background-color=mainColor)
        mj-column(width='55%')
          mj-text(
            padding-bottom='4px'
            color=whiteColor
            font-size='30px'
            font-weight='700') What we do?
          mj-text(
            mj-class='text'
            padding-bottom='20px'
            color=whiteColor) Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet 
          +button()&attributes({'align': 'left'})
        mj-column(width='45%')
          mj-image(
            css-class='section-image'
            align='right'
            alt='what we do'
            padding-top='20px'
            src=pathToImage + 'section1.png'
            width='157px')
      //- features
      mj-section(padding-bottom='50px', background-color=bodyBg)
        +subtitle-dual({
          type: false,
          first: 'Take a look to our main services',
          second: 'Awesome  Services'
            })
      mj-section(
        background-color=bodyBg
        padding-left='33px'
        padding-right='33px')
        +card([
          {
            img: ['service1.png', 220],
            title: 'Web Development',
            titleClass: 'card-title',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet ',
            descClass: 'card-desc'
          },
          {
            img: ['service2.png', 220],
            title: 'Graphic Design',
            titleClass: 'card-title',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet ',
            descClass: 'card-desc'
          },
          {
            img: ['service3.png', 220],
            title: 'Data Analytics',
            titleClass: 'card-title',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet ',
            descClass: 'card-desc'
          }
        ])
      mj-section(
        background-color=bodyBg
        mj-class='inner-padding')
        mj-column
          mj-text(
            mj-class='text'
            align='center'
            padding-bottom='32px'
            padding-top='3px') Lorem ipsum dolor sit amet, consectetuer a iscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.mod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      //- work style
      mj-section(background-color=mainColor)
        mj-column(vertical-align='middle')
          mj-image(src=pathToImage + 'work1.jpg')
        mj-column(vertical-align='top')
          mj-text(
            mj-class='half-section-text'
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Simple and Clean
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-text') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          mj-text(
            mj-class='half-section-text'
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Great Support
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-text'
            padding-bottom='26px') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          
      mj-section(background-color=mainColor)
        mj-column(vertical-align='middle')
          mj-text(
            mj-class='half-section-text'
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Simple and Clean
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-text') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          mj-text(
            mj-class='half-section-text'
            font-size='20px'
            font-weight='600'
            padding-bottom='16px'
            padding-top='65px') Great Support
          +underline(54, 14)
          mj-text(
            mj-class='text half-section-text'
            padding-bottom='25px') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        mj-column
          mj-image(src=pathToImage + 'work2.jpg')
            
      //- services
      mj-section(padding-bottom='50px', background-color=bodyBg)
        +subtitle-dual({
          type: false,
          first: 'Take a look to our main services',
          second: 'Awesome  Services2'
            })
      mj-section(
        background-color=bodyBg
        padding-left='33px'
        padding-right='33px')
        +card([
          {
            columnClass: 'card-column--feature',
            img: ['icon-services1.png', 64],
            imageClass: 'card-image--feature',
            title: 'Web Design',
            titleClass: 'card-title--service',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            descClass: 'card-desc--service'
          },
          {
            columnClass: 'card-column--feature',
            img: ['icon-services2.png', 64],
            imageClass: 'card-image--feature',
            title: 'Graphic Design',
            titleClass: 'card-title--service',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            descClass: 'card-desc--service'
          },
          {
            columnClass: 'card-column--feature',
            img: ['icon-services3.png', 64],
            imageClass: 'card-image--feature',
            title: 'SEO',
            titleClass: 'card-title--service',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh',
            descClass: 'card-desc--service'
          }
        ])
      
      //- social
      mj-section
        mj-column
          +social()
